$primary_color:#333;
$secondary_color:#0000ff;

:root {
    --mainColor: #121212;
    --lightColor: #ffffff;
    --lightAccentColor: #f8f8f8;

    --mainFont: 'Space', sans-serif;
    --accentFont: 'League Spartan', sans-serif;
}